/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    position: relative;
    width: 80%;
    margin: auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
}

.btn {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn-border {
    color: #fe775a;
    border: solid 1px #fe775a;
}
.btn-border:hover {
    background-color: #fff1ee;
}
.btn-orange {
    color: white;
    background-color: #fe775a;
}
.btn-orange:hover {
    background-color: #ffbcac;
}
.btn-lg {
    padding: 20px 20px;
}

.main-text {
    font-size: 14px;
    color: #32495b;
}

h2 {
    color: #32495b;
    padding-bottom: 30px;
}

.w-50 {
    width: 50%;
}

.feature {
    text-transform: uppercase;
    color: #32495b;
    font-size: 16px;
    font-weight: 900;
}

.fa-check-circle {
    color: #fe775a;
}

/* Menu fisso */
#nav-fix{
    position: fixed;
    top: 0;
    z-index: 2;
    height: 70px;
    line-height: 70px;
    width: 100%;
    font-size: 14px;
    background-color: #f4f9fd;
    border-bottom: solid 1px #32495b;
}

.nav-fix-left a {
    display: inline-block;
    line-height: 1;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #32495b;
}
.nav-fix-left li:first-child a{
    border-right: solid 1px #32495b;
}

.nav-fix-right li {
    margin-left: 15px;
}

#search-img {
    height: 16px;
    vertical-align: middle;
}

/* Header */
.header-nav {
    margin-top: 70px;
    height: 70px;
    line-height: 70px;
    background-color: white;
}

#logo-img {
    vertical-align: middle;
}

.header-nav-right a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: #32495b;
    margin-left: 15px;
}
.header-nav-right a i {
    padding-left: 5px;
}

/* Jumbotron */
.jumbotron {
    position: relative;
    background-image: url("../img/jumbotron.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #fff3ee;
}
.jumbotron-divider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #afebe4;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.jumbotron-title {
    color: #32495b;
    font-size: 40px;
    margin-bottom: 20px;
}
.jumbotron-text .main-text {
    margin-bottom: 20px;
}
.jumbotron-text .btn {
    display: inline-block;
    margin-bottom: 20px;
}
.desc-btn{
    font-size: 12px;
    color: #32495b;
}

.jumbotron-text {
    padding: 50px 0 200px 0;
}

/* Section1 */
#section1 {
    background-color: #f4f9fd;
}
#section1 h3 {
    color: #32495b;
    padding-bottom: 25px;
}

#intro {
    padding: 40px 10%;
    text-align: center;
}
#intro img {
    width: 20%;
}

.box-section1 {
    position: relative;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px #b5b5b5;
}

.free-crm-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30%;
    text-align: center;
}
.img-section1 {
    display: block;
    height: 90px;
    margin: auto auto 20px auto;
}
.free-crm-left .btn {
    display: inline-block;
}

.free-crm-right {
    width: 70%;
    padding: 40px 0;
}
.free-crm-right .main-text:not(li .main-text) {
    padding: 0 25% 25px 0;
}
.free-crm-right hr {
    display: inline-block;
    width: 60%;
    margin-left: 40px;
    vertical-align: middle;
}
.free-crm-right li {
    padding-top: 25px;
    padding-right: 20px;
}
.free-crm-right li span {
    padding-left: 10px;
}

.box-hub {
    width: calc((100% - 80px) / 3);
    margin-bottom: 40px;
    padding: 20px 30px;
    text-align: center;
}
#box-center {
    margin: auto 40px;
}

.box-hub hr{
    margin-top: 50px;
    margin-bottom: 25px;
}

.box-hub ul {
    list-style: none;
    padding-top: 20px;
    text-align: left;
}

.box-hub .btn {
    display: inline-block;
    margin-top: 35px;
}