/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;   
}

.container {
    position: relative;
    width: 80%;
    margin: auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
}

.btn {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn-border {
    color: #fe775a;
    border: solid 1px #fe775a;
}
.btn-border:hover {
    background-color: #fff1ee;
}
.btn-orange {
    color: white;
    background-color: #fe775a;
}
.btn-orange:hover {
    background-color: #ffbcac;
}
.btn-lg {
    padding: 10px 20px;
}

.main-text {
    font-size: 14px;
    color: #32495b;
}

.w-50 {
    width: 50%;
}

/* Menu fisso */
#nav-fix{
    position: fixed;
    top: 0;
    height: 70px;
    line-height: 70px;
    width: 100%;
    font-size: 14px;
    background-color: #f4f9fd;
    border-bottom: solid 1px #32495b;
}

.nav-fix-left a {
    display: inline-block;
    line-height: 1;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #32495b;
}
.nav-fix-left li:first-child a{
    border-right: solid 1px #32495b;
}

.nav-fix-right li {
    margin-left: 15px;
}

#search-img {
    height: 16px;
    vertical-align: middle;
}

/* Header */
.header-nav {
    margin-top: 70px;
    height: 70px;
    line-height: 70px;
    background-color: white;
}

#logo-img {
    vertical-align: middle;
}

.header-nav-right a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: #32495b;
    margin-left: 15px;
}
.header-nav-right a i {
    padding-left: 5px;
}

.jumbotron {
    position: relative;
    height: 530px;
    background-image: url("../img/jumbotron.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #fff3ee;
}
.jumbotron-divider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #afebe4;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.jumbotron-title {
    font-size: 40px;
    margin-bottom: 20px;
}
.jumbotron-text .main-text {
    margin-bottom: 20px;
}
.jumbotron-text .btn {
    display: inline-block;
    margin-bottom: 20px;
}
.desc-btn{
    font-size: 12px;
    color: #32495b;
}

.jumbotron-text {
    position: absolute;
    left: 0;
    top: 50px;
}
